.addTaskWrapper {
  position: relative;
  width: auto;
}

.addTaskInput {
  width: 60vw;
  min-width: 200px;
  height: 60px;
  border-color: black;
  border-radius: 30px;
  font-size: 2em;
  padding-left: 15px;
  z-index: 1;
}

.addTaskInput:focus {
  outline: none;
}

.addTaskButton {
  position: absolute;
  cursor: pointer;
  top: 7px;
  right: 10px;
  border-radius: 100%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #2f74c0;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  color: white;
  font-size: 1em;
  width: 50px;
  height: 50px;
}
