.tasks_li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-top: 5px;
  padding: 5px;
  font-size: 2em;
  background-color: #e9c41d;
}

.taskP {
  word-break: break-all;
  margin: 10px;
}

.buttonsWrapper {
  display: flex;
  gap: 5px;
}

.editInput {
  font-size: 1em;
  width: 63%;
  height: 60px;
}

.acceptChanges_button {
  width: 200px;
  font-size: 0.6em;
  height: 68px;
  background-color: #e9c41d;
}

.edit_form {
  display: flex;
}
