.activeTasksWrapper {
  background-color: #32c3cd;
  width: 30vw;
  min-width: 200px;
  border-radius: 4px;
}

.activeTasks_h3 {
  color: white;
  font-size: 3em;
  margin: 10px;
}

.activeTasks_ul {
  list-style: none;
  padding: 0;
}

.activeTasks_li {
  margin: 10px;
  padding: 10px;
  font-size: 2em;
  background-color: #e9c41d;
}
