.editTasks_li {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  background-color: #e9c41d;
  margin-top: 5px;
}

.editInput {
  font-size: 1em;
  width: 400px;
}

.acceptChanges_button {
  width: 200px;
  font-size: 0.6em;
  height: 68px;
  background-color: #e9c41d;
}
